/* List Post Templates Default Styles */

/* The list posts wrap */
.loop-designer .list-posts-all {
    width: 100%;
    height: auto;
    overflow: auto;
    margin: 10px 0;
}

/* The post entry */
.loop-designer .listposts {
	width: auto;
}

/* A post entry addition for grid style */
.loop-designer .listposts.grid {
	margin-right: 10px;
}

/* The clickable boxes */
.loop-designer a.clickable:hover,
.loop-designer a.clickable:focus {
	text-decoration: none;
	outline: none;
}
.loop-designer a.clickable .listposts:hover,
.loop-designer a.clickable .listposts:focus {
	cursor: pointer;
}

/* The featured image */
.loop-designer .listposts .ld-img img {
	margin: 10px 0;
}

/* The title */
.loop-designer .listposts h3.ld-post-title {
	margin: 10px 0;
	line-height: 120%;
}

/* The meta */
.loop-designer .listposts .ld-entry-meta {
	padding: 5px;
}

/* The content */
.loop-designer .listposts p.ld-post-excerpt {
	line-height: 140%;
	margin: 10px 0;
	/* never underline the content */
	text-decoration: none;
}

/* The readmore link */
.loop-designer .listposts .ld-readmore {
	margin: 10px 0;
}

/* Default Template - Image left, content right */
.loop-designer div.posts-img-left-content-right .ld-img {
	float: left;
	display: inline;
	margin-right: 15px;
}
.loop-designer div.posts-img-left-content-right h3.ld-post-title {
	display: inline;
}


/* Default Template - Image right, content left */
.loop-designer div.posts-img-right-content-left .ld-img {
	float: right;
	display: inline;
	margin-left: 15px;
}
.loop-designer div.posts-img-right-content-left .ld-entry-meta:first-child {
	text-align: right;
}
.loop-designer div.posts-img-right-content-left .ld-entry-inner .ld-entry-meta {
	text-align: left;
}
.loop-designer div.posts-img-right-content-left h3.ld-post-title {
	display: inline;
}

/* Now some extra styles for the widget */

/* ensure a correct margin for the ul */
.loop-designer .listposts.widget ul {
	list-style: none;
	margin: 0 0 10px 0px;
}